html {
    font-family: sans-serif;
    
    background: rgb(145, 231, 149);
}

.hdr {
    background-color: bisque;
    display: block;
    position: fixed;
    size: 100%;
    box-sizing: border-box;
    height: 100px;
    padding-left: 10px;
    top: 0;
    left: 0;
    right: 0;
    text-align: justify;
    box-shadow: 0 -2px 4px -2px black;
}

footer {
    
    background-color: bisque;
    display: block;
    position: fixed;
    size: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 13px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
}

#quote {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 100px;
}

.menu{
    text-align: right;
    padding-right: 30px;
    
}

.project {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    text-align: center;
}
#title {
    font-size: 24px;
    margin-bottom: 20px;
    border: 1px solid green;
}


img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.para {
    font-size: 18px;
    line-height: 1.5;
}
